@charset "utf-8";
/* CSS Document */
.leftcolumn {   
  float: left;
  width: 30%;
  margin-top:15px;
}

.leftcolumn h2{
	color:white;
	font-size:28px;
}

.leftcolumn h2:hover{
	color:orange;
	transition:0.7s;
}

.leftcolumn p, h5{
	color:white;
}

.centercolumn{   
  float: left;
  width: 35%;
  margin:0px 0 100px 250px;	
}

.aboutuscolumn{   
  float: left;
  width: 60%;
  margin:0 0 0 200px;	
}

.studentcolumn{   
  float: left;
  width: 38%;
  margin:0 0 0 200px;	
}

.centercolumn p{
	color:white;
}

.centercolumn h5{
	color:white;
}

.rightcolumn {
  float: right;
  width: 15%;
  background-color: #929292;
  padding-left: 20px;
  height:800px;
  text-align: center;
  color:white;
}

.carouselcolumn{
	float:left;
	width:80%;
	height:400px;
	text-align: center;
	color:white;
}


.fakeimg {
  background-color: none;  
  margin:0 0 0 50px;	
}

<!-- Add a card effect for articles -->
.card {
  padding: 20px;
}

<!-- Clear floats after the columns -->
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav a {
    float: none;
    width: 100%;
  }

<!--Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other -->
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

<!-- Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other -->
@media screen and (max-width: 400px) {
	